:root{
    --background: url("https://i.imgur.com/CRH8SG7.gif");
    --accent: #3f336e;
    --accent-glass: #fff1;
    --text-color: #fff;
    --blur: 10px;
}

/* Main */
#splash{
    background:var(--background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
}

#splash .splash-inner video.loaded{
    display: none;
}

#splash .splash-inner .splash-text{
    position: absolute;
    top:0px;
    left:0;
    width: 100%;
}

#splash .splash-inner .splash-text > span.splash-status{
    font-style: normal;
    font-weight: 600;
    text-transform: unset;
    color: var(--text-color);
}

/* Prog bar */

.progress{
    position: fixed;
    bottom:30px;
    left:30px;
    width: calc(100% - 60px);
}
.progress .progress-bar{
    width:100%;
    height: 10px;
    border-radius: 10px;
    background: var(--accent-glass);
    overflow: hidden;
    backdrop-filter: blur(calc(var(--blur) / 2));
}

.progress .progress-bar .complete{
    border-radius: 0;
    background: var(--accent);
    box-shadow: unset;
}


/* Download linux update */
.splash-inner-dl{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(var(--blur));
    animation: fade .2s ease;
}

#splash .splash-inner-dl .dl-select-frame .Select-control{
    border: none;
    background: var(--accent-glass);
}

:root .is-open > .Select-control{
    border-radius: 4px 4px 0 0 !important;
}

#splash .splash-inner-dl .dl-select-frame .Select-menu-outer{
    border:none;
    background: var(--accent-glass);
    margin-top: 0;
}

.is-focused:not(.is-open) > .Select-control{
    box-shadow: unset;
}

#splash .splash-inner-dl .dl-select-frame .dl-button{
    background: var(--accent-glass);
}

#splash .splash-inner-dl .dl-select-frame .dl-button:hover{
    background: var(--accent);
    cursor: pointer;
}

#splash .splash-inner-dl .dl-select-frame .Select-option.is-focused{
    background: var(--accent);
}

#splash .splash-inner-dl .dl-version-message{
    display: none;
}

/* Animations */

@keyframes fade{
    from{ opacity: 0;}
    to{ opacity: 1;}
}